/*********************************************
* Reset
**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********************************************
* Element base style
**********************************************/
body
{
  font-family: "Lato" , san-serf;
  font-size: 100%;
  line-height: 1.4;
  background-color: #fff;
  color: #777;
}

section
{
  width: 100%;
  display: block;
}

p
{
  padding: 5px;
}

form
{
  margin: 20px 0;
}

form input
{
  border-radius: 0;
  border: none;
  outline: none;
  padding: 10px;
  font-size: .98em;
  width: 100%;
}

/*********************************************
* base style 
**********************************************/
.wrapper{
  width: 50%;
  margin: auto;
  max-width: 1200px;
}

.number-to-word-form{
  border: 1px solid #eee;
}

.input-container input
{
   border-bottom: 1px solid #eee;
}

.input-container input:last-child{
  cursor: pointer;
  box-shadow: 1px 1px 4px #bfbbbb;
  transition: all .35s;
}
.input-container input:last-child:hover{
  letter-spacing: 1.2px;
}
.content{
  padding: 10px;
}

/*********************************************
* media query section
**********************************************/
@media all and (max-width: 768px)
{
  .wrapper{
    width: 98%;
  }
 
}

@media all and (min-width: 769px)
{
  .input-container input:first-child{
    float: left;
    width: 70%;
  }
  .input-container input:last-child{
    float: right;
    width: 30%;
  }

  .input-container::after{
    content: " ";
    display: block;
    clear: both;
  }
}


/*********************************************
* base style for heading
**********************************************/


